openapi: 3.0.0
info:
  version: 0.0.1
  title: CUE API Docment
servers:
  - url: 'https://api.cue.colere.inc'
paths:
  /auth/token:
    post:
      tags:
        - Access token
      description: Issue an access token.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: access token
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
  /auth/login/email:
    post:
      tags:
        - Authentication
      description: Log in with your email address and password.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: email
                  example: example@colere.inc
                password:
                  type: string
                  description: password
                  example: password
              required:
                - email
                - password
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: access token after login
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '404':
          description: Login Failure
        '500':
          description: Temporary server error
    delete:
      tags:
        - Authentication
      description: Log out.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: Logout Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: access token after logout
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '404':
          description: Login Failure
        '500':
          description: Temporary server error
  /auth/login/tel:
    post:
      tags:
        - Authentication
      description: Log in with your tel and password.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tel:
                  type: string
                  description: tel
                  example: 9012345678
                password:
                  type: string
                  description: password
                  example: password
              required:
                - email
                - password
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: access token after login
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '404':
          description: Login Failure
        '500':
          description: Temporary server error
    delete:
      tags:
        - Authentication
      description: Log out.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: Logout Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: access token after logout
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '404':
          description: Login Failure
        '500':
          description: Temporary server error
  /account:
    get:
      tags:
        - Account
      description: Get information about the currently logged-in account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Account
      description: Create an account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tel:
                  type: string
                  description: tel
                  example: 9012345678
                password:
                  type: string
                  description: password
                  example: password
              required:
                - tel
                - password
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                description: アカウント
                properties:
                  account_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  tel:
                    type: string
                    description: tel
                    example: 9012345678
                  access_token:
                    type: string
                    description: access token after login
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    put:
      tags:
        - Account
      description: Update the information of the currently logged-in account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: first name
                  example: 太郎
                first_name:
                  type: string
                  description: last name
                  example: 山田
                tel:
                  type: string
                  description: tel
                  example: 9012345678
                password:
                  type: string
                  description: password
                  example: password
                icon:
                  type: string
                  description: icon file
                  format: binary
                frequency:
                  type: integer
                  description: frequency day
                  example: 1
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /account/actions/summary:
    get:
      tags:
        - Action List Summary
      description: Get a summary for use in the Action Look Back page for the account you are logged in to.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    members:
                      type: array
                      items:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          account_relation_id:
                            type: string
                            description: account relationship ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          action_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          icon:
                            type: string
                            description: icon url
                            example: 'https://img.cue.colere.inc/icon'
                          action_name:
                            type: string
                            description: name
                            example: greeting
                          action_detail:
                            type: string
                            description: name
                            example: greeting
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/accounts/{accounts_id}':
    get:
      tags:
        - Account
      description: Obtain the specified account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/accounts/{accounts_id}/summary':
    get:
      tags:
        - Account Summary
      description: Get a summary for use on the detail page of a given account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_relation_id:
                    type: string
                    description: account relationship ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  last_name:
                    type: string
                    description: first name
                    example: 太郎
                  first_name:
                    type: string
                    description: last name
                    example: 山田
                  icon:
                    type: string
                    description: icon url
                    example: 'https://img.cue.colere.inc/icon'
                  relation_level:
                    type: integer
                    description: relationship level
                    example: 3
                  relation_point:
                    type: integer
                    description: relationship point
                    example: 74
                  relation_point_delta:
                    type: integer
                    description: delta of relationship point
                    example: -4
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /accounts/invite:
    post:
      tags:
        - Account Invite
      description: Invite an account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: first name
                  example: 太郎
                first_name:
                  type: string
                  description: last name
                  example: 山田
                email:
                  type: string
                  description: email
                  example: example@colere.inc
                relation_point:
                  type: integer
                  description: relationship point
                  example: 20
                member:
                  type: boolean
                  description: '部下を招待=true, 上司を招待=false'
                  example: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  last_name:
                    type: string
                    description: first name
                    example: 太郎
                  first_name:
                    type: string
                    description: last name
                    example: 山田
                  email:
                    type: string
                    description: email
                    example: example@colere.inc
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/actions/{actions_id}/action_comments':
    get:
      tags:
        - Action Comment
      description: Obtain a list of action comments for a specific action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
        - in: query
          name: offset
          schema:
            type: integer
          description: offset
        - in: query
          name: limit
          schema:
            type: integer
          description: limit
        - in: query
          name: order
          schema:
            type: string
          description: asc or desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedActionComment'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Action Comment
      description: Create action comments for specific actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_action_comment_id:
                  type: string
                  description: action_commentID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                account_id:
                  type: string
                  description: account ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                contents:
                  type: string
                  description: content
                  example: よかったです。
              required:
                - parent_action_comment_id
                - account_id
                - contents
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionComment'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/actions/{actions_id}/action_comments/{action_comments_id}':
    put:
      tags:
        - Action Comment
      description: Update action comments for specific actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
        - in: path
          name: action_comments_id
          schema:
            type: string
          required: true
          description: action_commentのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  description: content
                  example: よかったです。
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionComment'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    delete:
      tags:
        - Action Comment
      description: Remove action comments for a specific action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
        - in: path
          name: action_comments_id
          schema:
            type: string
          required: true
          description: action_commentのID
      responses:
        '204':
          description: success
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/actions/{actions_id}/feedbacks':
    get:
      tags:
        - Feedback
      description: Obtain a list of feedback for a specific action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedFeedback'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Feedback
      description: Create feedback for specific actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: account ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                evaluated:
                  type: integer
                  description: 'evaluate(0=null, 1=good, 2=bad)'
                  example: 0
              required:
                - account_id
                - evaluated
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/actions/{actions_id}/feedbacks/{feedbacks_id}':
    put:
      tags:
        - Feedback
      description: Update feedback for specific actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                evaluated:
                  type: integer
                  description: 'evaluate(0=null, 1=good, 2=bad)'
                  example: 1
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    delete:
      tags:
        - Feedback
      description: Remove feedback for a specific action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      responses:
        '204':
          description: success
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /feedbacks:
    put:
      tags:
        - Feedback List
      description: Update multiple feedback.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  feedbacks_id:
                    type: string
                    description: feedbackのID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  evaluated:
                    type: integer
                    description: 'evaluate(0=null, 1=good, 2=bad)'
                    example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    feedbacks_id:
                      type: string
                      description: feedbackのID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    evaluated:
                      type: integer
                      description: 'evaluate(0=null, 1=good, 2=bad)'
                      example: 0
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /activities:
    get:
      tags:
        - Activity
      description: Get activity for the currently logged in account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: query
          name: offset
          schema:
            type: integer
          description: offset
        - in: query
          name: limit
          schema:
            type: integer
          description: limit
        - in: query
          name: order
          schema:
            type: string
          description: asc or desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    date:
                      type: string
                      description: date
                      example: 2022/01/01
                    members:
                      type: array
                      items:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          account_relation_id:
                            type: string
                            description: account relationship ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          last_name:
                            type: string
                            description: first name
                            example: 太郎
                          first_name:
                            type: string
                            description: last name
                            example: 山田
                          icon:
                            type: string
                            description: icon url
                            example: 'https://img.cue.colere.inc/icon'
                          type:
                            type: string
                            description: type
                            example: individual_score
                          message:
                            type: string
                            description: message
                            example: 関係性が改善されました
                          color:
                            type: string
                            description: background color
                            example: '#0000ff'
                          time:
                            type: string
                            description: time
                            example: '15:00'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /account_relations:
    get:
      tags:
        - Account Relationships
      description: Get all connections related to the currently logged in account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Account Relationships
      description: Create account relationship information.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_account_id:
                  type: string
                  description: manager account ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                member_account_id:
                  type: string
                  description: member account ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                activated:
                  type: integer
                  description: 'Connection allowed(0=null, 1=approved, 2=rejected)'
                  example: 0
              required:
                - manager_account_id
                - member_account_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}':
    get:
      tags:
        - Account Relationships
      description: Obtain relationship information for a given account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    put:
      tags:
        - Account Relationships
      description: Update relationship information for the specified account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: integer
                  description: 'Connection allowed(0=null, 1=approved, 2=rejected)'
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    delete:
      tags:
        - Account Relationships
      description: Delete relationship information for a given account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '204':
          description: success
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/actions':
    get:
      tags:
        - Action History
      description: Get a list of action history for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: query
          name: offset
          schema:
            type: integer
          description: offset
        - in: query
          name: limit
          schema:
            type: integer
          description: limit
        - in: query
          name: order
          schema:
            type: string
          description: asc or desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedAction'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Action History
      description: Create an action history for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recommend_action_id:
                  type: string
                  description: action candidate ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                view_date:
                  type: string
                  description: view date
                  example: '2022/01/01T05:42:22.000Z'
                action_date:
                  type: string
                  description: action date
                  example: '2022/01/02T05:42:22.000Z'
                skipped:
                  type: boolean
                  description: skipped
                  example: boolean
              required:
                - recommend_action_id
                - view_date
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/actions/{actions_id}':
    get:
      tags:
        - Action History
      description: Get the specified action information for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedAction'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    put:
      tags:
        - Action History
      description: Update the specified action information for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: action ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                view_date:
                  type: string
                  description: view date
                  example: '2022/01/02T05:42:22.000Z'
                action_date:
                  type: string
                  description: action date
                  example: '2022/01/02T05:42:22.000Z'
                skipped:
                  type: boolean
                  description: skipped
                  example: boolean
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/actions/summary':
    get:
      tags:
        - Action List Summary
      description: Get a summary for use in the action history page for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    action_id:
                      type: string
                      description: ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    recommend_action_id:
                      type: string
                      description: action candidate ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    name:
                      type: string
                      description: name
                      example: greeting
                    view_date:
                      type: string
                      description: view date
                      example: '2022/01/01T05:42:22.000Z'
                    manager_evaluated:
                      type: integer
                      description: 'evaluate(0=null, 1=good, 2=bad)'
                      example: 1
                    member_evaluated:
                      type: integer
                      description: 'evaluate(1=good, 2=bad)'
                      example: 2
                    comments_count:
                      type: integer
                      description: comment count
                      example: 1
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/actions/today':
    get:
      tags:
        - Today Action
      description: 'Get today''s action information for the specified relationship. (If it does not exist, return a newly created one.)'
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  name:
                    type: string
                    description: name
                    example: greeting
                  button_title:
                    type: string
                    description: button title
                    example: チャットする
                  link:
                    type: string
                    description: link to external application
                    example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
                  action_date:
                    type: string
                    description: action date(Not executed if empty)
                    example: '2022/01/02T05:42:22.000Z'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/actions/today/skip':
    post:
      tags:
        - Today Action
      description: Skip today's action for the specified relationship and get a new action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  recommend_action_id:
                    type: string
                    description: action candidate ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  name:
                    type: string
                    description: name
                    example: greeting
                  button_title:
                    type: string
                    description: button title
                    example: チャットする
                  link:
                    type: string
                    description: link to external application
                    example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/action_comments/summary':
    get:
      tags:
        - Action Comment List Summary
      description: Get a summary for use in the action history page for the specified relationship.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    action_id:
                      type: string
                      description: ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    action_date:
                      type: string
                      description: date
                      example: 2022/01/01
                    action_name:
                      type: string
                      description: name
                      example: greeting
                    executed:
                      type: boolean
                      description: 実行したかどうか
                      example: true
                    comments:
                      type: array
                      items:
                        type: object
                        properties:
                          icon:
                            type: string
                            description: icon url
                            example: 'https://img.cue.colere.inc/icon'
                          contents:
                            type: string
                            description: content
                            example: よかったです。
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/relationship_points':
    get:
      tags:
        - Relationship Point
      description: Get all relationship level points for a given account_relation.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
        - in: query
          name: offset
          schema:
            type: integer
          description: offset
        - in: query
          name: limit
          schema:
            type: integer
          description: limit
        - in: query
          name: order
          schema:
            type: string
          description: asc or desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Relationship Point
      description: Create a relationship level point for the specified account_relation.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                point:
                  type: integer
                  description: point
                  example: 100
                date:
                  type: string
                  description: created date
                  example: '2022/01/01T05:42:22.000Z'
              required:
                - point
                - date
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/account_relations/{account_relations_id}/recommend_actions/{recommend_action_id}/external_app':
    get:
      tags:
        - External Apps
      description: Get external application information set for the specified account connections and actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_action ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - External Apps
      description: Create external application information set for the specified account connections and actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_action ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name
                  example: Microsoft Teams
                category:
                  type: string
                  description: category
                  example: Chat
                link:
                  type: string
                  description: link to external application
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
              required:
                - name
                - category
                - link
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    put:
      tags:
        - External Apps
      description: Update the external app information set in the connections and actions for the specified account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relation ID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_action ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name
                  example: Microsoft Teams
                category:
                  type: string
                  description: category
                  example: Chat
                link:
                  type: string
                  description: link to external application
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /changable_notifications:
    get:
      tags:
        - Point Change Notification
      description: Get a list of point change notifications for the account you are logged in to.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedChangableNotification'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/changable_notifications/{changable_notifications_id}':
    put:
      tags:
        - Point Change Notification
      description: Update the list of point change notifications for the logged-in account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: changable_notifications_id
          schema:
            type: string
          required: true
          description: changable_notificationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
                  description: is read
                  example: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ChangableNotification'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /external_apps:
    get:
      tags:
        - External Apps
      description: Get all external application information linked to the account you are logged in to.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /relationship_points:
    get:
      tags:
        - Relationship Point
      description: 'Get all relationship level points related to the currently logged in account, only the most recently dated one for each account_relation.'
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /accounts:
    get:
      tags:
        - Account(Admin)
      description: Obtain all accounts.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Account'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/accounts/{accounts_id}/external_apps':
    get:
      tags:
        - External Apps(Admin)
      description: Get all linked external application information for the specified account.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /action_tags:
    get:
      tags:
        - Action Tag(Admin)
      description: Get a list of action tags.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ActionTag'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Action Tag(Admin)
      description: Create an action tag.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name
                  example: private life
              required:
                - name
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  '/action_tags/{action_tags_id}':
    get:
      tags:
        - Action Tag(Admin)
      description: Get the specified action tag.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tag ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    put:
      tags:
        - Action Tag(Admin)
      description: Update the specified action tag.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tag ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name
                  example: private life
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    delete:
      tags:
        - Action Tag(Admin)
      description: Deletes the specified action tag.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tag ID
      responses:
        '204':
          description: success
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
  /recommend_actions:
    get:
      tags:
        - Action Candidate(Admin)
      description: Get a list of actions.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RecommendAction'
        '400':
          description: problem with the request
        '401':
          description: problem with the Authorization header
        '403':
          description: No access rights
        '500':
          description: Temporary server error
    post:
      tags:
        - Action Candidate(Admin)
      description: Create an action.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: access token
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name
                  example: greeting
                level:
                  type: string
[...]
