openapi: 3.0.0
info:
  version: 0.0.1
  title: PMF API Docment
servers:
  - url: 'http://api.pmf.com'
paths:
  /auth/token:
    post:
      tags:
        - アクセストークン新規発行
      description: アクセストークンを発行する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 発行成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: アクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
  /auth/login/email:
    post:
      tags:
        - 認証
      description: メールアドレスとパスワードでログインする。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
              required:
                - email
                - password
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: ログイン後のアクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '404':
          description: ログイン失敗
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - 認証
      description: ログアウトする。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: ログアウト後のアクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '404':
          description: ログイン失敗
        '500':
          description: サーバーの一時的なエラー
  /account:
    get:
      tags:
        - アカウント
      description: 現在ログインしているアカウントの情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アカウント
      description: アカウントを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
                gender:
                  type: string
                  description: 性
                  example: 男
              required:
                - email
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アカウント
      description: 現在ログインしているアカウントの情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
                gender:
                  type: string
                  description: 性
                  example: 男
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/accounts/{accounts_id}':
    get:
      tags:
        - アカウント
      description: 指定したアカウントを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/feedbacks?offset=10&limit=10&order=asc':
    get:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバック一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedFeedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/feedbacks':
    post:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_feedback_id:
                  type: string
                  description: feedbackID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                account_id:
                  type: string
                  description: feedbackしたアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                contents:
                  type: string
                  description: feedback内容
                  example: よかったです。
              required:
                - parent_feedback_id
                - account_id
                - contents
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/feedbacks/{feedbacks_id}':
    put:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  description: feedback内容
                  example: よかったです。
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /account_relations:
    get:
      tags:
        - アカウントの関連性
      description: 現在ログインしているアカウントに関連するつながりをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アカウントの関連性
      description: アカウントの関連性情報を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_account_id:
                  type: string
                  description: 上司のアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                member_account_id:
                  type: string
                  description: 部下のアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                activated:
                  type: boolean
                  description: つながりを許可したか
                  example: true
              required:
                - manager_account_id
                - member_account_id
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}':
    get:
      tags:
        - アカウントの関連性
      description: 指定のアカウントの関連性情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アカウントの関連性
      description: 指定のアカウントの関連性情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: boolean
                  description: つながりを許可したか
                  example: true
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アカウントの関連性
      description: 指定のアカウントの関連性情報を削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions?offset=10&limit=10&order=asc':
    get:
      tags:
        - アクション履歴
      description: 指定の関係性に対するアクション履歴一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Action'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions':
    post:
      tags:
        - アクション履歴
      description: 指定の関係性に対するアクション履歴を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recommend_action_id:
                  type: string
                  description: アクション候補ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                view_date:
                  type: string
                  description: 表示した日付
                  example: 2022/01/01
                action_date:
                  type: string
                  description: 実行した日付
                  example: 2022/01/02
                skipped:
                  type: boolean
                  description: スキップしたか
                  example: boolean
              required:
                - recommend_action_id
                - view_date
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions/{actions_id}':
    put:
      tags:
        - アクション履歴
      description: 指定の関係性に対する指定のアクション情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                view_date:
                  type: string
                  description: 表示した日付
                  example: 2022/01/02
                action_date:
                  type: string
                  description: 実行した日付
                  example: 2022/01/02
                skipped:
                  type: boolean
                  description: スキップしたか
                  example: boolean
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/relationship_points?offset=10&limit=10&order=asc':
    get:
      tags:
        - 関係性レベルポイント
      description: 指定のaccount_relationの関係性レベルのポイントをすべてを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/relationship_points':
    post:
      tags:
        - 関係性レベルポイント
      description: 指定のaccount_relationの関係性レベルのポイントを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                point:
                  type: integer
                  description: ポイント
                  example: 100
                date:
                  type: string
                  description: 作成された日付
                  example: 2022/01/01
              required:
                - point
                - date
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/recommend_actions/{recommend_action_id}/external_app':
    get:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: アプリの名前
                  example: Microsoft Teams
                category:
                  type: string
                  description: アプリのカテゴリ
                  example: Chat
                link:
                  type: string
                  description: 外部アプリへの遷移リンク
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
              required:
                - name
                - category
                - link
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: アプリの名前
                  example: Microsoft Teams
                category:
                  type: string
                  description: アプリのカテゴリ
                  example: Chat
                link:
                  type: string
                  description: 外部アプリへの遷移リンク
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /changable_notifications:
    get:
      tags:
        - ポイント変化通知
      description: ログインしているアカウントのポイント変化通知一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ChangableNotification'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/changable_notifications/{changable_notifications_id}':
    put:
      tags:
        - ポイント変化通知
      description: ログインしているアカウントのポイント変化通知一覧を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: changable_notifications_id
          schema:
            type: string
          required: true
          description: changable_notificationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
                  description: 既読したかどうか
                  example: true
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ChangableNotification'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /external_apps:
    get:
      tags:
        - 外部連携アプリ
      description: ログインしているアカウントの連携した外部アプリ情報をすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /relationship_points:
    get:
      tags:
        - 関係性レベルポイント
      description: 現在ログインしているアカウントに関連する関係性レベルのポイントをすべて取得する。<br>account_relationごとに最新の日付のもののみ取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /accounts:
    get:
      tags:
        - アカウント(管理専用)
      description: アカウントをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/accounts/{accounts_id}/external_apps':
    get:
      tags:
        - 外部連携アプリ(管理専用)
      description: 指定のアカウントの連携した外部アプリ情報をすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /action_tags:
    get:
      tags:
        - アクションタグ(管理専用)
      description: アクションタグ一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクションタグ(管理専用)
      description: アクションタグを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: 私生活
              required:
                - name
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/action_tags/{action_tags_id}':
    get:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: 私生活
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /recommend_actions:
    get:
      tags:
        - アクション候補(管理専用)
      description: アクション一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクション候補(管理専用)
      description: アクションを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: あいさつしよう
                level:
                  type: string
                  description: どのレベルの関係性のときに候補として出すか(カンマ区切り)
                  example: '1,2,3'
                type:
                  type: string
                  description: タイプ
                  example: question
                tag_id:
                  type: string
                  description: AI分析用のタグ(カンマ区切り)
                  example: '1,3,8'
              required:
                - name
                - level
                - type
                - tag_id
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/recommend_actions/{recommend_actions_id}':
    get:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: あいさつしよう
                level:
                  type: string
                  description: どのレベルの関係性のときに候補として出すか(カンマ区切り)
                  example: '1,2,3'
                type:
                  type: string
                  description: タイプ
                  example: question
                tag_id:
                  type: string
                  description: AI分析用のタグ(カンマ区切り)
                  example: '1,3,8'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /operators:
    get:
      tags:
        - オペレーター(管理専用)
      description: オペレーターをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - オペレーター(管理専用)
      description: オペレーターを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
              required:
                - last_name
                - first_name
                - email
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/operators/{operators_id}':
    get:
      tags:
        - オペレーター(管理専用)
      description: 指定したオペレーターを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: operators_id
          schema:
            type: string
          required: true
          description: operatorのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Operator'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - オペレーター(管理専用)
      description: 指定のオペレーターを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: operetors_id
          schema:
            type: string
          required: true
          description: operatorのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Operator'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - オペレーター(管理専用)
      description: 指定のオペレーターを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: operetors_id
          schema:
            type: string
          required: true
          description: operatorのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
components:
  schemas:
    AccountRelation:
      type: object
      description: アカウント同士の関連性
      properties:
        account_relation_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        manager_account_id:
          type: string
          description: 上司のアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        member_account_id:
          type: string
          description: 部下のアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        activated:
          type: boolean
          description: つながりを許可したか
          example: true
    Account:
      type: object
      description: アカウント
      properties:
        account_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        last_name:
          type: string
          description: 名
          example: 太郎
        first_name:
          type: string
          description: 姓
          example: 山田
        email:
          type: string
          description: メールアドレス
          example: example@colere.inc
        icon:
          type: string
          description: アイコンのURL
          example: icon@pmf.com
        gender:
          type: string
          description: 性
          example: 男
      required:
        - id
    ActionTag:
      type: object
      description: アクションタグ
      properties:
        action_tag_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        name:
          type: string
          description: 名前
          example: 私生活
    Action:
      type: object
      description: アクション
      properties:
        action_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_relation_id:
          type: string
          description: アカウント同士の関連性ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        recommend_action_id:
          type: string
          description: アクション候補ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        view_date:
          type: string
          description: 表示した日付
          example: 2022/01/01
        action_date:
          type: string
          description: 実行した日付
          example: 2022/01/02
        skipped:
          type: boolean
          description: スキップしたか
          example: boolean
    ChangableNotification:
      type: object
      description: ポイント変更通知
      properties:
        changable_notification_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_id:
          type: string
          description: 対象のアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_relation_id:
          type: string
          description: 対象のaccount_relationID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        point:
          type: integer
          description: ポイント
          example: 100
        date:
          type: string
          description: 日付
          example: 2022/01/01
        read:
          type: boolean
          description: 既読したかどうか
          example: true
    ExternalApp:
      type: object
      description: ポイント変更通知
      properties:
        external_app_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_relation_id:
          type: string
          description: 対象のアカウント関連ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        recommend_action_id:
          type: string
          description: 対象のアクションID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        name:
          type: string
          description: アプリの名前
          example: Microsoft Teams
        category:
          type: string
          description: アプリのカテゴリ
          example: Chat
        link:
          type: string
          description: 外部アプリへの遷移リンク
          example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
    Feedback:
      type: object
      description: フィードバック
      properties:
        feedback_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        action_id:
          type: string
          description: actionID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        parent_feedback_id:
          type: string
          description: フィードバック先のfeedbackID。空ならアクションに対する最初のフィードバック。
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_id:
          type: string
          description: feedbackしたアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        contents:
          type: string
          description: feedback内容
          example: よかったです。
    Operator:
      type: object
      description: オペレーター
      properties:
        last_name:
          type: string
          description: 名
          example: 太郎
        first_name:
          type: string
          description: 姓
          example: 山田
        email:
          type: string
          description: メールアドレス
          example: example@colere.inc
        icon:
          type: string
          description: アイコンのURL
          example: icon@pmf.com
    RecommendAction:
      type: object
      description: アクション
      properties:
        recommend_action_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        name:
          type: string
          description: 名前
          example: あいさつしよう
        level:
          type: string
          description: どのレベルの関係性のときに候補として出すか(カンマ区切り)
          example: '1,2,3'
        type:
          type: string
          description: タイプ
          example: question
        tag_id:
          type: string
          description: AI分析用のタグ(カンマ区切り)
          example: '1,3,8'
    RelationshipPoint:
      type: object
      description: アカウント同士の関連性に対するポイント
      properties:
        account_relation_id:
          type: string
          description: アカウント同士の関連性ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        point:
          type: integer
          description: ポイント
          example: 100
        date:
          type: string
          description: 作成された日付
          example: 2022/01/01
    IncludedAccountRelation:
      type: object
      description: アカウント同士の関連性
      properties:
        account_relation_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        manager_account_id:
          type: string
          description: 上司のアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        member_account_id:
          type: string
          description: 部下のアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        activated:
          type: boolean
          description: つながりを許可したか
          example: true
        manager:
          $ref: '#/components/schemas/Account'
        member:
          $ref: '#/components/schemas/Account'
    IncludedFeedback:
      type: object
      description: フィードバック
      properties:
        feedback_id:
          type: string
          description: ID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        action_id:
          type: string
          description: actionID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        parent_feedback_id:
          type: string
          description: フィードバック先のfeedbackID。空ならアクションに対する最初のフィードバック。
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        account_id:
          type: string
          description: feedbackしたアカウントID
          example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
        contents:
          type: string
          description: feedback内容
          example: よかったです。
        account:
          $ref: '#/components/schemas/Account'
