openapi: 3.0.0
info:
  version: 0.0.1
  title: PMF API Docment
servers:
  - url: 'http://api.pmf.com'
paths:
  /auth/token:
    post:
      tags:
        - アクセストークン新規発行
      description: アクセストークンを発行する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 発行成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: アクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
  /auth/login/email:
    post:
      tags:
        - 認証
      description: メールアドレスとパスワードでログインする。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
              required:
                - email
                - password
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: ログイン後のアクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '404':
          description: ログイン失敗
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - 認証
      description: ログアウトする。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: ログアウト後のアクセストークン
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '404':
          description: ログイン失敗
        '500':
          description: サーバーの一時的なエラー
  /account:
    get:
      tags:
        - アカウント
      description: 現在ログインしているアカウントの情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アカウント
      description: アカウントを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
                gender:
                  type: string
                  description: 性
                  example: 男
              required:
                - email
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アカウント
      description: 現在ログインしているアカウントの情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                password:
                  type: string
                  description: パスワード
                  example: password
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
                gender:
                  type: string
                  description: 性
                  example: 男
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /account/actions/summary:
    get:
      tags:
        - アクション一覧サマリ
      description: ログインしているアカウントのアクション振り返りページで使うためのサマリを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    date:
                      type: string
                      description: 日付
                      example: 2022/01/01
                    members:
                      type: array
                      items:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          account_relation_id:
                            type: string
                            description: アカウント同士の関係性ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          action_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          icon:
                            type: string
                            description: アイコンのURL
                            example: icon@pmf.com
                          action_name:
                            type: string
                            description: 名前
                            example: あいさつしよう
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/accounts/{accounts_id}':
    get:
      tags:
        - アカウント
      description: 指定したアカウントを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/accounts/{accounts_id}/summary':
    get:
      tags:
        - アカウントサマリ
      description: 指定のアカウントの詳細ページで使うためのサマリを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_relation_id:
                    type: string
                    description: アカウント同士の関係性ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  last_name:
                    type: string
                    description: 名
                    example: 太郎
                  first_name:
                    type: string
                    description: 姓
                    example: 山田
                  icon:
                    type: string
                    description: アイコンのURL
                    example: icon@pmf.com
                  relation_level:
                    type: integer
                    description: 関係性レベル
                    example: 3
                  relation_point:
                    type: integer
                    description: 関係性ポイント
                    example: 74
                  relation_point_delta:
                    type: integer
                    description: 関係性ポイントの変化量
                    example: -4
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /accounts/invite:
    post:
      tags:
        - アカウント招待
      description: アカウントを招待する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                relation_point:
                  type: integer
                  description: 関係性ポイント
                  example: 20
                member:
                  type: boolean
                  description: '部下を招待=true, 上司を招待=false'
                  example: true
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  last_name:
                    type: string
                    description: 名
                    example: 太郎
                  first_name:
                    type: string
                    description: 姓
                    example: 山田
                  email:
                    type: string
                    description: メールアドレス
                    example: example@colere.inc
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/action_comments':
    get:
      tags:
        - アクションコメント
      description: 特定のアクションに対するアクションコメント一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedActionComment'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクションコメント
      description: 特定のアクションに対するアクションコメントを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_action_comment_id:
                  type: string
                  description: action_commentID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                account_id:
                  type: string
                  description: action_commentしたアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                contents:
                  type: string
                  description: action_comment内容
                  example: よかったです。
              required:
                - parent_action_comment_id
                - account_id
                - contents
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionComment'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/action_comments/{action_comments_id}':
    put:
      tags:
        - アクションコメント
      description: 特定のアクションに対するアクションコメントを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: action_comments_id
          schema:
            type: string
          required: true
          description: action_commentのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  description: action_comment内容
                  example: よかったです。
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionComment'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アクションコメント
      description: 特定のアクションに対するアクションコメントを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: action_comments_id
          schema:
            type: string
          required: true
          description: action_commentのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/feedbacks':
    get:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバック一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedFeedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: action_commentしたアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                evaluated:
                  type: integer
                  description: '評価(0=未実施, 1=good, 2=bad)'
                  example: 0
              required:
                - account_id
                - evaluated
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/actions/{actions_id}/feedbacks/{feedbacks_id}':
    put:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                evaluated:
                  type: integer
                  description: '評価(0=未実施, 1=good, 2=bad)'
                  example: 1
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Feedback'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - フィードバック
      description: 特定のアクションに対するフィードバックを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
        - in: path
          name: feedbacks_id
          schema:
            type: string
          required: true
          description: feedbackのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /feedbacks:
    put:
      tags:
        - フィードバック一覧
      description: 複数のフィードバックを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  feedbacks_id:
                    type: string
                    description: feedbackのID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  evaluated:
                    type: integer
                    description: '評価(0=未実施, 1=good, 2=bad)'
                    example: 0
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    feedbacks_id:
                      type: string
                      description: feedbackのID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    evaluated:
                      type: integer
                      description: '評価(0=未実施, 1=good, 2=bad)'
                      example: 0
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /activities:
    get:
      tags:
        - アクティビティ
      description: 現在ログインしているアカウントのアクティビティを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    date:
                      type: string
                      description: 日付
                      example: 2022/01/01
                    members:
                      type: array
                      items:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          account_relation_id:
                            type: string
                            description: アカウント同士の関係性ID
                            example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                          last_name:
                            type: string
                            description: 名
                            example: 太郎
                          first_name:
                            type: string
                            description: 姓
                            example: 山田
                          icon:
                            type: string
                            description: アイコンのURL
                            example: icon@pmf.com
                          message:
                            type: string
                            description: メッセージ
                            example: 関係性が改善されました
                          color:
                            type: string
                            description: 背景色
                            example: '#0000ff'
                          time:
                            type: string
                            description: 時刻
                            example: '15:00'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /account_relations:
    get:
      tags:
        - アカウントの関係性
      description: 現在ログインしているアカウントに関係するつながりをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アカウントの関係性
      description: アカウントの関係性情報を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_account_id:
                  type: string
                  description: 上司のアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                member_account_id:
                  type: string
                  description: 部下のアカウントID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                activated:
                  type: integer
                  description: 'つながりを許可したか(0=未承認, 1=承認, 2=却下)'
                  example: 0
              required:
                - manager_account_id
                - member_account_id
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}':
    get:
      tags:
        - アカウントの関係性
      description: 指定のアカウントの関係性情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedAccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アカウントの関係性
      description: 指定のアカウントの関係性情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: integer
                  description: 'つながりを許可したか(0=未承認, 1=承認, 2=却下)'
                  example: 0
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/AccountRelation'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アカウントの関係性
      description: 指定のアカウントの関係性情報を削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions':
    get:
      tags:
        - アクション履歴
      description: 指定の関係性に対するアクション履歴一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクション履歴
      description: 指定の関係性に対するアクション履歴を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recommend_action_id:
                  type: string
                  description: アクション候補ID
                  example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                view_date:
                  type: string
                  description: 表示した日付
                  example: '2022/01/01T05:42:22.000Z'
                action_date:
                  type: string
                  description: 実行した日付
                  example: '2022/01/02T05:42:22.000Z'
                skipped:
                  type: boolean
                  description: スキップしたか
                  example: boolean
              required:
                - recommend_action_id
                - view_date
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions/{actions_id}':
    get:
      tags:
        - アクション履歴
      description: 指定の関係性に対する指定のアクション情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アクション履歴
      description: 指定の関係性に対する指定のアクション情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: actions_id
          schema:
            type: string
          required: true
          description: actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                view_date:
                  type: string
                  description: 表示した日付
                  example: '2022/01/02T05:42:22.000Z'
                action_date:
                  type: string
                  description: 実行した日付
                  example: '2022/01/02T05:42:22.000Z'
                skipped:
                  type: boolean
                  description: スキップしたか
                  example: boolean
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/Action'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions/summary':
    get:
      tags:
        - アクション一覧サマリ
      description: 指定の関係性に対するアクション履歴ページで使うためのサマリを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    action_id:
                      type: string
                      description: ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    recommend_action_id:
                      type: string
                      description: アクション候補ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    name:
                      type: string
                      description: 名前
                      example: あいさつしよう
                    view_date:
                      type: string
                      description: 表示した日付
                      example: '2022/01/01T05:42:22.000Z'
                    manager_evaluated:
                      type: integer
                      description: '評価(0=未実施, 1=good, 2=bad)'
                      example: 1
                    member_evaluated:
                      type: integer
                      description: '評価(1=good, 2=bad)'
                      example: 2
                    comments_count:
                      type: integer
                      description: コメント数
                      example: 1
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions/today':
    get:
      tags:
        - 今日のアクション
      description: 指定の関係性に対する今日のアクション情報を取得する。(存在しなければ新しく作ったものを返す)
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  recommend_action_id:
                    type: string
                    description: アクション候補ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  name:
                    type: string
                    description: 名前
                    example: あいさつしよう
                  button_title:
                    type: string
                    description: ボタン表示名
                    example: チャットする
                  link:
                    type: string
                    description: 外部アプリへの遷移リンク
                    example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/actions/today/skip':
    post:
      tags:
        - 今日のアクション
      description: 指定の関係性に対する今日のアクションをスキップし新しいアクションを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: スキップ成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id:
                    type: string
                    description: ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  recommend_action_id:
                    type: string
                    description: アクション候補ID
                    example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                  name:
                    type: string
                    description: 名前
                    example: あいさつしよう
                  button_title:
                    type: string
                    description: ボタン表示名
                    example: チャットする
                  link:
                    type: string
                    description: 外部アプリへの遷移リンク
                    example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/action_comments/summary':
    get:
      tags:
        - アクションコメント一覧サマリ
      description: 指定の関係性に対するアクション履歴ページで使うためのサマリを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    action_id:
                      type: string
                      description: ID
                      example: eb6b8030-3b57-11e1-9c04-c9b9178cf34e
                    action_date:
                      type: string
                      description: 日付
                      example: 2022/01/01
                    action_name:
                      type: string
                      description: 名前
                      example: あいさつしよう
                    executed:
                      type: boolean
                      description: 実行したかどうか
                      example: true
                    comments:
                      type: array
                      items:
                        type: object
                        properties:
                          icon:
                            type: string
                            description: アイコンのURL
                            example: icon@pmf.com
                        contents:
                          type: string
                          description: action_comment内容
                          example: よかったです。
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/relationship_points':
    get:
      tags:
        - 関係性レベルポイント
      description: 指定のaccount_relationの関係性レベルのポイントをすべてを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
        - in: query
          name: offset
          schema:
            type: integer
          description: 何件目から取得するか
        - in: query
          name: limit
          schema:
            type: integer
          description: 何件取得するか
        - in: query
          name: order
          schema:
            type: string
          description: 昇順(asc) or 降順(desc)
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - 関係性レベルポイント
      description: 指定のaccount_relationの関係性レベルのポイントを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: accunt_relationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                point:
                  type: integer
                  description: ポイント
                  example: 100
                date:
                  type: string
                  description: 作成された日付
                  example: '2022/01/01T05:42:22.000Z'
              required:
                - point
                - date
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/account_relations/{account_relations_id}/recommend_actions/{recommend_action_id}/external_app':
    get:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: アプリの名前
                  example: Microsoft Teams
                category:
                  type: string
                  description: アプリのカテゴリ
                  example: Chat
                link:
                  type: string
                  description: 外部アプリへの遷移リンク
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
              required:
                - name
                - category
                - link
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - 外部連携アプリ
      description: 指定のアカウントのつながりとアクションに設定された外部アプリ情報を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: account_relations_id
          schema:
            type: string
          required: true
          description: account_relationのID
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: アプリの名前
                  example: Microsoft Teams
                category:
                  type: string
                  description: アプリのカテゴリ
                  example: Chat
                link:
                  type: string
                  description: 外部アプリへの遷移リンク
                  example: 'https://teams.microsoft.com/l/chat/0/0?users=taro@colere.inc,jiro@colere.inc&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /changable_notifications:
    get:
      tags:
        - ポイント変化通知
      description: ログインしているアカウントのポイント変化通知一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedChangableNotification'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/changable_notifications/{changable_notifications_id}':
    put:
      tags:
        - ポイント変化通知
      description: ログインしているアカウントのポイント変化通知一覧を更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: changable_notifications_id
          schema:
            type: string
          required: true
          description: changable_notificationのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
                  description: 既読したかどうか
                  example: true
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ChangableNotification'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /external_apps:
    get:
      tags:
        - 外部連携アプリ
      description: ログインしているアカウントの連携した外部アプリ情報をすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /relationship_points:
    get:
      tags:
        - 関係性レベルポイント
      description: 現在ログインしているアカウントに関係する関係性レベルのポイントをすべて取得する。<br>account_relationごとに最新の日付のもののみ取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RelationshipPoint'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /accounts:
    get:
      tags:
        - アカウント(管理専用)
      description: アカウントをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/accounts/{accounts_id}/external_apps':
    get:
      tags:
        - 外部連携アプリ(管理専用)
      description: 指定のアカウントの連携した外部アプリ情報をすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: accounts_id
          schema:
            type: string
          required: true
          description: accountのID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/IncludedExternalApp'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /action_tags:
    get:
      tags:
        - アクションタグ(管理専用)
      description: アクションタグ一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクションタグ(管理専用)
      description: アクションタグを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: 私生活
              required:
                - name
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/action_tags/{action_tags_id}':
    get:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: 私生活
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アクションタグ(管理専用)
      description: 指定のアクションタグを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: action_tags_id
          schema:
            type: string
          required: true
          description: action_tagのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /recommend_actions:
    get:
      tags:
        - アクション候補(管理専用)
      description: アクション一覧を取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - アクション候補(管理専用)
      description: アクションを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: あいさつしよう
                level:
                  type: string
                  description: どのレベルの関係性のときに候補として出すか(カンマ区切り)
                  example: '1,2,3'
                type:
                  type: string
                  description: タイプ
                  example: question
                tag_id:
                  type: string
                  description: AI分析用のタグ(カンマ区切り)
                  example: '1,3,8'
              required:
                - name
                - level
                - type
                - tag_id
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/recommend_actions/{recommend_actions_id}':
    get:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    put:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを更新する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 名前
                  example: あいさつしよう
                level:
                  type: string
                  description: どのレベルの関係性のときに候補として出すか(カンマ区切り)
                  example: '1,2,3'
                type:
                  type: string
                  description: タイプ
                  example: question
                tag_id:
                  type: string
                  description: AI分析用のタグ(カンマ区切り)
                  example: '1,3,8'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/RecommendAction'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    delete:
      tags:
        - アクション候補(管理専用)
      description: 指定のアクションを削除する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
        - in: path
          name: recommend_actions_id
          schema:
            type: string
          required: true
          description: recommend_actionのID
      responses:
        '204':
          description: 削除成功
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  /operators:
    get:
      tags:
        - オペレーター(管理専用)
      description: オペレーターをすべて取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  $ref: '#/components/schemas/Account'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
    post:
      tags:
        - オペレーター(管理専用)
      description: オペレーターを作成する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNzExNzE1OTgtOGE1NS00MzkwLTk1OGYtNTI1YTUwNWVlMDExIiwiaWF0IjoxNjQyNTczODkyLCJleHAiOjE2NDUxNjU4OTJ9._BIe5qWyiFWqzEIBShdut_MQkQocLbVklHCbogL942c
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 名
                  example: 太郎
                first_name:
                  type: string
                  description: 姓
                  example: 山田
                email:
                  type: string
                  description: メールアドレス
                  example: example@colere.inc
                icon:
                  type: string
                  description: アイコンのURL
                  example: icon@pmf.com
              required:
                - last_name
                - first_name
                - email
      responses:
        '200':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties: null
                $ref: '#/components/schemas/ActionTag'
        '400':
          description: リクエストに問題あり
        '401':
          description: Authorizationヘッダーに問題あり
        '403':
          description: アクセス権がない
        '500':
          description: サーバーの一時的なエラー
  '/operators/{operators_id}':
    get:
      tags:
        - オペレーター(管理専用)
      description: 指定したオペレーターを取得する。
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/json
        - in: header
          name: X-Request-ID
          required: false
          schema:
            type: string
        - in: header
          name: 'Authorization: Bearer'
          required: true
          description: アクセストークン
[...]
